@import '../../style/variables';

.root{
  position: relative;
  height: 100%;
}

.wrap{
  position: relative;
  height: 100%;
}

.container{
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: $height-header;
  padding-left: $width-asider;
}