@import './normalize';
@import './variables';
@import './mixins';
@import './animation';
@import './font-awesome/font-awesome';

body{
  font-family: Tahoma, Arial, 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-self;
  color: #666;
  font-size: 14px;
  overflow: hidden;
}

ul,li,p{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

::-webkit-input-placeholder {
    color: #aaa;
    font-size: 14px
}

.wrap{
  position: absolute;
  width: 100%;
  height: 100%;
}

.map{
  width: 100%;
  height: 100%;

  &-marker{

    &-circle{
      width: 6px;
      height: 6px;
      background: #fff;
      border: 2px solid #096892;
      border-radius: 5px;
      box-shadow: border-box;
    }

    &-icon{
      position: relative;
      width: 18px;
      height: 18px;
      background: #fff;
      line-height: 18px;
      text-align: center;
      font-size: 12px;
      border: 1px solid currentColor;
      border-radius: 50%;

      &:after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 4px;
        top: 17px;
        border: 8px solid transparent;
        border-left-width: 5px;
        border-right-width: 5px;
        border-top-color: currentColor;
      }

      &.bus{

        color: #fb9600;
      }

      &.subway{
        color: #4bab17;
      }

      &.bike{
        color: #f05e1c;
      }

    }
  }
}

.left-panel{
  position: absolute;
  left: 15px;
  top: 15px;
  width: 360px;
}

.search{

  &.hide{
    display: none;
  }

  &-box{
    height: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
  }

  &-input{
    float: left;
    width: 320px;
    height: 40px;
    text-indent: 10px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
  }

  &-btn{
    float: left;
    width: 40px;
    height: 40px;
    background: $color-primary;
    color: #fff;
    vertical-align: top;
    border: 0;
    outline: 0;
    cursor: pointer;

    &:hover{
      background: darken($color-primary, 5%);
    }
  }

  &-result{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    transform: translate3d(0, 0, 0);
    transition: .3s ease-in-out;

    &.hide{
      opacity: 0;
      visibility: hidden;
      transform: translate3d(-100%, 0, 0);
    }
  }
}

.sr{

  &-list{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid $color-border-default;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    z-index: 100;

    &.hide{
      display: none;
    }
  }

  &-item{
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    color: #999;
    font-size: 12px;
    cursor: pointer;

    &:hover{
      background: #eee;
    }
  }

  &-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    pointer-events: none;
  }

  &-title{
    margin-left: 15px;
    color: #666;
    pointer-events: none;
  }

  &-sub-title{
    margin-left: 20px;
    pointer-events: none;
  }

}

.bus{

  &-list{
    max-height: 460px;
    padding: 10px;
    overflow-y: auto;
  }

  &-item{
    display: flex;
    margin-bottom: 10px;

    // &:hover{
    //   .bi-abs {
    //     border-color: $color-primary;
    //   }
    // }

    .bi-name{
      display: flex;
      flex: 1;
      padding: 5px;
      background: $color-primary;
      color: #fff;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      cursor: pointer;

      .bn-main{
        margin-bottom: 5px;
        font-size: 16px;
        pointer-events: none;
      }

      .bn-sub{
        font-size: 12px;
        pointer-events: none;
      }
    }

    .bi-abs{
      flex: 2;
      padding: 5px 15px;
      border: 1px solid $color-border-default;
      border-left: 0;

      .ba-row{
        color: #888;
        font-size: 12px;
        line-height: 1.5;

        &.name{
          margin: 5px 0;
          color: $color-primary;
          font-size: 15px;
        }
      }

      .ba-exchange{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        cursor: pointer;
        line-height: 20px;
        text-align: center;
        transition: .3s;

        &:hover{
          transform: rotate(180deg);
        }
      }
    }
  }

  &-detail{

    &.hide {
      display: none;
    }

    .bd-head{
      display: flex;
      padding: 10px;
      background: $color-primary;
      color: #fff;

      .bh-name{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .bn-main{
          margin-bottom: 5px;
          font-size: 16px;
          font-weight: bold;
        }

        .bn-sub{
          font-size: 12px;
        }
      }

      .bh-abs{
        flex: 2;
        padding-left: 5px;
        text-align: center;

        .ba-row{
          font-size: 15px;
        }

        .ba-exchange{
          display: inline-block;
          width: 20px;
          height: 20px;
          margin: 5px 0;
          cursor: pointer;
          line-height: 20px;
          text-align: center;
          transform: rotate(90deg);
          transition: .3s;

          &:hover{
            transform: rotate(270deg);
          }
        }
      }
    }

    .bd-body{
      max-height: 350px;
      overflow-y: auto;
    }

    .bd-label-list{
      @include clearfix;
    }

    .bd-label-item{
      float: left;
      width: 33.33%;
      height: 26px;
      color: #888;
      text-indent: 5px;
      font-size: 12px;
      line-height: 26px;
      border-top: 1px solid $color-border-default;
      border-right: 1px solid $color-border-default;
      box-sizing: border-box;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3){
        border-top: 0;
      }

      &:nth-child(3n) {
        border-right: 0;
      }

      .li-value{
        float: right;
        position: relative;
        right: 5px;
      }
    }

    .bd-block{

      .bb-title{
        height: 34px;
        padding-left: 15px;
        background: #e0f4fd;
        line-height: 34px;
        border-left: 2px solid $color-primary;
        overflow: hidden;
        @include clearfix;

        .bt-name{
          display: inline-block;
          height: 100%;
        }

        .bt-op{
          float: right;
          width: 34px;
          height: 34px;
          color: $color-primary;
          text-align: center;
          line-height: 34px;
          cursor: pointer;
          transition: .3s;

          &:hover{

            &.fa-plus{
              transform: scale(1.2);
            }

            &.fa-bell{
              animation: shake-bell .3s linear forwards;
            }
          }
        }
      }

      .bb-content{

        .bc-main-list{
          @include clearfix;
        }

        .bc-main-item{
          position: relative;
          float: left;
          width: 50%;
          height: 30px;
          padding: 0 5px;
          color: #888;
          line-height: 30px;
          text-align: center;
          font-size: 12px;
          cursor: pointer;
          box-sizing: border-box;
          @include text-overflow;

          &:nth-child(2n):before{
            content: '';
            position: absolute;
            width: 1px;
            height: 14px;
            left: 0;
            top: 8px;
            background: #ccc;
          }

          &:hover,
          &.active{
            color: $color-primary;
          }
        }

        .bc-time{
          @include clearfix;

          .time-item{
            position: relative;
            float: left;
            width: 50%;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            text-align: center;
          }

          .time-key{
            margin-right: 5px;
            color: #fff;
            background: $color-primary;
            padding: 3px;
            border-radius: 5px;
          }
        }

        .bc-coming{
          height: 40px;
          margin-bottom: 10px;
          padding: 0 10px;
          line-height: 40px;
          text-align: center;
          border-bottom: 1px dashed $color-border-default;

          .name{
            padding: 3px;
            background: $color-primary;
            color: #fff;
            font-size: 12px;
            border-radius: 5px;
          }

          .time{
            margin: 0 17px;
            font-size: 20px;
            font-weight: bold;
          }
        }

        .bc-block{
          margin-bottom: 10px;
          padding: 0 15px;

          .block-title{
            height: 20px;
            color: $color-primary;
            line-height: 20px;

            &.bus{
              color: #efbb24;
            }

            &.subway{
              color: $color-primary;
            }

            &.bike{
              color: #f05e1c;
            }
          }

          .block-list{
            color: #888;
            font-size: 12px;
            @include clearfix;
          }

          .block-bus-item{
            float: left;
            margin-right: 5px;
          }

          .block-bike-item{
            display: flex;

            .bi-name{
              flex: 2;
            }

            .bi-dis{
              flex: 1;
              text-align: right;
            }

            .bi-num{
              flex: 1;
              text-align: right;
            }
          }
        }

      }

      .bb-btn{
        width: 330px;
        height: 24px;
        margin: 15px auto;
        padding: 0;
        background: $color-primary;
        color: #fff;
        font-size: 12px;
        outline: 0;
        border: 0;
        border-radius: 3px;
        display: none;

        &:hover{
          background: darken($color-primary, 5%);
        }

        &.show{
          display: block;
        }
      }
    }
  }

  &-stops{

    .stop-title{
      height: 34px;
      padding-left: 15px;
      background: $color-primary;
      color: #fff;
      line-height: 34px;
      @include clearfix;

      .st-name{
        display: inline-block;
        height: 100%;
      }

      .st-op{
        float: right;
        width: 34px;
        height: 34px;
        text-align: center;
        line-height: 34px;
        cursor: pointer;
        transition: .3s linear;

        &.fa-close:hover{
          transform: rotate(180deg);
        }
      }
    }

    .stop-list{
      max-height: 400px;
      overflow-y: auto;
    }

    .stop-item{
      position: relative;
      height: 30px;
      padding-left: 20px;
      padding-right: 30px;
      color: #888;
      line-height: 30px;
      font-size: 12px;
      cursor: pointer;
      counter-increment: index;
      @include text-overflow;

      &:before{
        content: counter(index) '.';
      }

      &:hover{
        background: #e0f4fd;

        .si-op{
          transform: translate3d(0, 0, 0);
        }
      }

      .si-op{
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        color: $color-primary;
        line-height: 30px;
        text-align: center;
        transform: translate3d(100%, 0, 0);
        transition: .3s;

        &.fa-bell:hover{
          animation: shake-bell .3s linear forwards;
        }
      }
    }

  }
}

.pop{
  $winWidth: 300px;
  $winHeight: 300px;

  &-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .5);
    z-index: 1000;
    display: none;

    &.show{
      display: block;
    }
  }

  &-win{
    position: absolute;
    width: $winWidth;
    height: $winHeight;
    left: 50%;
    top: 50%;
    margin-left: -$winWidth / 2;
    margin-top: -$winHeight / 2;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  }

  &-title{
    height: 30px;
    padding-left: 15px;
    background: $color-primary;
    color: #fff;
    line-height: 30px;

    .pt-op{
      float: right;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.alarm{

  &-name{
    display: flex;
    border-bottom: 1px solid $color-border-default;
    @include clearfix;

    .an-stop{
      display: flex;
      flex: 1;
      padding: 10px 15px;
      color: $color-primary;
      align-items: center;
    }

    .an-line{
      display: flex;
      flex: 1;
      padding: 10px 15px;
      color: #888;
      text-align: right;
      flex-direction: column;
      justify-content: center;

      .al-stop{
        font-size: 12px;
      }
    }
  }

  &-time{
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid $color-border-default;

    .at-time{
      width: 80px;
      height: 40px;
      font-size: 24px;
      text-align: center;
      border: 0;
      border-bottom: 1px solid $color-border-default;
      outline: 0;
    }
  }

  &-type{
    padding-top: 20px;

    .at-row{
      margin-bottom: 15px;
      padding: 0 15px;
      text-align: center;
    }

    .at-input{
      width: 100%;
      height: 30px;
      font-size: 12px;
      text-indent: 10px;
      outline: 0;
      border: 1px solid $color-border-default;
      box-sizing: border-box;
    }

    .at-btn{
      width: 100%;
      height: 30px;
      background: $color-primary;
      color: #fff;
      border: 0;
      outline: 0;
    }
  }
}

.place{

  &-detail{

    .pd-head{
      height: 100px;
      background: $color-primary;
      color: #fff;
      @include clearfix;

      &-left{
        display: flex;
        float: left;
        width: 260px;
        height: 100%;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
      }

      &-right{
        float: right;
        width: 100px;
        height: 100%;
        padding: 10px 0;
        box-sizing: border-box;
      }

      .ph-name{
        font-size: 18px;
        @include text-overflow;
      }

      .ph-btn{
        position: relative;
        display: block;
        width: 80px;
        height: 25px;
        margin: 10px auto;
        padding-left: 20px;
        background: $color-primary;
        font-size: 12px;
        border: 1px solid #fff;
        border-radius: 3px;
        outline: 0;
        transition: .3s;

        &:hover{
          background: #fff;
          color: $color-primary;
        }

        &.to{

          &:before{
            content: '';
            position: absolute;
            width: 10px;
            height: 4px;
            left: 8px;
            top: 7px;
            border-top: 2px solid currentColor;
            border-left: 2px solid currentColor;
          }

          &:after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: 3px;
            top: 13px;
            border: 6px solid transparent;
            border-top-color: currentColor;
          }

        }

        &.from{

          &:before{
            content: '';
            position: absolute;
            width: 10px;
            height: 4px;
            left: 5px;
            top: 11px;
            border-bottom: 2px solid currentColor;
            border-right: 2px solid currentColor;
          }

          &:after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: 10px;
            top: -1px;
            border: 6px solid transparent;
            border-bottom-color: currentColor;
          }

        }
      }
    }

    .pd-body{
      max-height: 400px;
      overflow-y: auto;

      .pb-block{

      }

      .pb-title{
        height: 30px;
        padding: 0 10px;
        background: #e0f4fd;
        line-height: 30px;
      }

      .pb-name{
        margin-left: 5px;
      }

      .pb-content{
        font-size: 12px;
      }

      .pb-station-list{
        color: #888;
      }

      .pb-station-item{

        &:last-child{
          border-bottom: 0;
        }

        &.active{
          .psi-title{
            background: #efefef;
          }

          .psi-icon{
            transform: rotate(90deg);
          }

          .psi-content{
            display: block;
          }
        }
      }

      .psi-title{
        height: 24px;
        padding: 0 15px;
        line-height: 24px;
        cursor: pointer;
        transition: .3s;
        @include clearfix;

        &:hover{
          background: #efefef;
        }
      }

      .psi-name{
        float: left;
        width: 270px;
        padding-left: 2px;
        pointer-events: none;
        @include text-overflow;
      }

      .psi-icon{
        margin-right: 5px;
        transition: .3s;
      }

      .psi-dis{
        float: right;
        width: 50px;
        text-align: right;
        pointer-events: none;
      }

      .psi-content{
        padding: 10px;
        background: #f7f7f7;
        display: none;
      }

      .psi-line-list{
        padding: 5px;
        background: #fff;
        @include clearfix;
      }

      .psi-line-item{
        float: left;
        height: 20px;
        padding: 0 5px;
        margin-right: 5px;
        margin-bottom: 3px;
        line-height: 20px;
        cursor: pointer;
        transition: .3s;

        &.active,
        &:hover{
          background: $color-primary;
          color: #fff;
          border-radius: 3px;
        }
      }

      .psi-line-detail{
        padding: 5px;
        background: #fff;
        border-top: 1px dashed $color-border-default;
        display: none;

        &.show{
          display: block;
        }
      }

      .psi-detail-title{
        height: 24px;
        padding: 0 5px;
        background: #f7f7f7;
        color: #888;
        line-height: 24px;
        border-left: 2px solid $color-primary;
        @include clearfix;
      }

      .psi-detail-name{
        display: inline-block;
        width: 110px;
        @include text-overflow;
      }

      .psi-detail-right{
        float: right;
        @include clearfix;

        .dr-item{
          float: left;

          &:nth-child(2){

            &:before,
            &:after{
              content: '';
              display: inline-block;
              width: 1px;
              height: 9px;
              margin: 0 10px;
              background: #888;
            }
          }
        }
      }

      .psi-detail-content{
        position: relative;
        width: 320px;
        margin: 0 auto;
        padding: 30px 0;
        @include clearfix;
      }

      .psi-line-stop{
        float: left;
        width: 125px;
        text-align: center;
        @include text-overflow;

        &.start:before,
        &.end:before{
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 3px;
          color: #fff;
          line-height: 20px;
          text-align: center;
          border-radius: 50%;
          transform: scale(.8);
        }

        &.start:before{
          content: '起';
          background: #86c166;
        }

        &.end:before{
          content: '终';
          background: #c73e3a;
        }

      }

      .psi-line-arrow{
        position: relative;
        float: left;
        width: 50px;
        height: 4px;
        top: 5px;
        margin: 0 10px;
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;

        &:before,
        &:after{
          content: '';
          position: absolute;
          width: 7px;
          height: 2px;
          background: #ccc;
          transform: rotate(30deg);
        }

        &:before{
          top: -4px;
          right: 1px;
        }

        &:after{
          top: 6px;
          left: 1px;
        }
      }

      .psi-line-time{
        position: absolute;
        left: 145px;
        font-size: 14px;

        &.forward{
          top: 10px;
        }

        &.reverse{
          top: 50px;
        }
      }

      .pb-bike-list{
        padding: 0 15px;
      }

      .pb-bike-item{
        display: flex;
        height: 24px;
        line-height: 24px;
      }

      .pbi-name{
        flex: 2;
      }

      .pbi-icon{
        margin-right: 5px;
      }

      .pbi-dis{
        flex: 1;
        text-align: right;
      }

      .pbi-num{
        flex: 1;
        text-align: right;
      }
    }
  }
}

.plan{

  &-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;

    &.show{
      display: block;
    }
  }

  &-head{
    position: relative;
    padding: 40px;
    background: $color-primary;
    color: #fff;
  }

  &-icon{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s;

    &:hover{
      background: #26a6de;
      border-radius:50%;
    }
  }

  &-close{
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &-search{
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  &-form{
    position: relative;
    width: 280px;
    margin: 0 auto;

    .pf{

      &-row{
        margin: 10px 0;
        height: 30px;
        background: #26a6de;
        line-height: 30px;
        @include clearfix;
      }

      &-label{
        float: left;
        width: 30px;
        text-align: center;
        font-size: 12px;
        border-right: 1px solid $color-border-primary;
        box-sizing: border-box;
      }

      &-input{
        float: left;
        width: 250px;
        height: 30px;
        background: transparent;
        line-height: 30px;
        text-indent: 5px;
        border: 0;
        outline: 0;
        box-sizing: border-box;

        &::placeholder{
          color: #efefef;
        }
      }

      &-exchange{
        position: absolute;
        left: -35px;
        top: 50%;
        margin-top: -15px;
        transform: rotate(90deg);
        transition: .3s;

        &:hover{
          transform: rotate(270deg);
        }
      }
    }
  }

  &-body{
    max-height: 350px;
    overflow-y: auto;
  }

  &-ac-list{
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    display: none;

    &.show{
      display: block;
    }
  }

  &-ac-item{
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    color: #999;
    font-size: 12px;
    cursor: pointer;
    @include text-overflow;

    &:hover{
      background: #eee;
    }

    .pai{

      &-icon{
        display: inline-block;
        width: 15px;
        height: 15px;
        text-align: center;
        line-height: 15px;
        pointer-events: none;
      }

      &-title{
        margin-left: 15px;
        color: #666;
        pointer-events: none;
      }

      &-sub-title{
        margin-left: 20px;
        pointer-events: none;
      }
    }
  }

}

.amap-call{
  display: none;
}








