@import './normalize';
@import './variables';
@import './mixins';
@import './font-awesome/font-awesome';

body{
  font-family: Tahoma, Arial, 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-self;
  color: #666;
  font-size: 14px;
  overflow: hidden;
}

ul,li,p{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

::-webkit-input-placeholder {
    color: #aaa;
    font-size: 14px
}

.wrap{
  position: absolute;
  width: 100%;
  height: 100%;
}

.map{
  width: 100%;
  height: 100%;
}

.left-panel{
  position: absolute;
  left: 15px;
  top: 15px;
  width: 360px;
}

.search{

  &-box{
    height: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
  }

  &-input{
    float: left;
    width: 320px;
    height: 40px;
    text-indent: 10px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
  }

  &-btn{
    float: left;
    width: 40px;
    height: 40px;
    background: $color-primary;
    color: #fff;
    vertical-align: top;
    border: 0;
    outline: 0;
    cursor: pointer;

    &:hover{
      background: darken($color-primary, 5%);
    }
  }

  &-result{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    max-height: 460px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
    overflow-y: auto;

    &.hide{
      display: none;
    }
  }
}

.sr{

  &-list{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid $color-border-default;
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
    z-index: 100;

    &.hide{
      display: none;
    }
  }

  &-item{
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    color: #999;
    font-size: 12px;
    cursor: pointer;

    &:hover{
      background: #eee;
    }
  }

  &-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    pointer-events: none;
  }

  &-title{
    margin-left: 15px;
    color: #666;
    pointer-events: none;
  }

  &-sub-title{
    margin-left: 20px;
    pointer-events: none;
  }

}

.bus{

  &-wrap{

  }

  &-list{
    padding: 10px;

    &.hide{
      display: none;
    }
  }

  &-item{
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover{
      .bi-abs {
        border-color: $color-primary;
      }
    }

    .bi-name{
      display: flex;
      flex: 1;
      background: $color-primary;
      color: #fff;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .bn-main{
        margin-bottom: 5px;
        font-size: 32px;
        font-weight: bold;
      }

      .bn-sub{
        font-size: 12px;
      }
    }

    .bi-abs{
      flex: 2;
      padding: 5px 15px;
      border: 1px solid $color-border-default;
      border-left: 0;

      .ba-row{
        color: #888;
        font-size: 12px;
        line-height: 1.5;

        &.name{
          margin: 5px 0;
          color: $color-primary;
          font-size: 15px;
        }
      }

      .ba-exchange{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        cursor: pointer;
        line-height: 20px;
        text-align: center;
        transition: .3s;

        &:hover{
          transform: rotate(360deg);

        }
      }
    }
  }

  &-detail{

    .bd-head{
      display: flex;
      padding: 10px;
      background: $color-primary;
      color: #fff;

      .bh-name{
        display: flex;
        flex: 0 0 110px;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .bn-main{
          margin-bottom: 5px;
          font-size: 16px;
          font-weight: bold;
        }

        .bn-sub{
          font-size: 12px;
        }
      }

      .bh-abs{
        flex: 0 0 230px;
        margin-left: -1px;
        padding-left: 5px;
        text-align: center;
        border-left: 1px dashed #fff;

        .ba-row{
          font-size: 15px;
        }

        .ba-exchange{
          display: inline-block;
          width: 20px;
          height: 20px;
          margin: 5px 0;
          cursor: pointer;
          line-height: 20px;
          text-align: center;
          transition: .3s;

          &:hover{
            transform: rotate(360deg);

          }
        }
      }
    }

    .bd-label-list{
      @include clearfix;
    }

    .bd-label-item{
      float: left;
      width: 120px;
      height: 26px;
      color: #888;
      text-indent: 5px;
      font-size: 12px;
      line-height: 26px;
      border-bottom: 1px solid $color-border-default;
      border-right: 1px solid $color-border-default;
      box-sizing: border-box;

      &:nth-child(3n) {
        border-right: 0;
      }

      .li-value{
        float: right;
        position: relative;
        right: 5px;
      }
    }
  }
}














